.currency-converter {
  width: 100%;
  max-width: 400px;
}
.currency-converter input {
  width: 50%;
  margin-right: 1%;
}
.currency-converter select {
  width: 49%;
  height: 33px;
}
.currency-converter input,
.currency-converter select {
  display: inline-block;
  margin-top: 0;
}